<?xml version="1.0" encoding="utf-8"?>

<!-- 
Copyright 2009, 2010 Gopalkrishna Sharma.

This file is part of MBus Android.

MBus is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

MBus is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with MBus.  If not, see <http://www.gnu.org/licenses/>. 
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="edu.umich.mbus.android"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" 
        android:debuggable="true">
        <activity android:name=".MainView"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RouteView" />
        <activity android:name=".StopView" />
        <activity android:name=".StopDetailsView" />
    </application>
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest> 